.pageheader {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 6rem;
	padding-left: 2rem;
	padding-right: 2rem;
	box-shadow: 0 0 0.125rem #0003, 0 0 4rem #0001;
	box-sizing: border-box;
}

.pageheader img {
	max-height: 4rem;
}

.pageheader a {
	text-decoration: none;
}

.pageheader * + * {
	margin-left: 1rem;
}

.pageheader--sectionaligned {
	padding-left: 1rem;
	padding-right: 1rem;
}

@media screen and (min-width: 768px) {
	.pageheader--sectionaligned {
		padding-left: calc((100% - 768px + 2rem) / 2);
		padding-right: calc((100% - 768px + 2rem) / 2);
	}
}

@media screen and (min-width: 1024px) {
	.pageheader {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	.pageheader * + * {
		margin-left: 2rem;
	}

	.pageheader--sectionaligned {
		padding-left: calc((100% - 1024px + 2rem) / 2);
		padding-right: calc((100% - 1024px + 2rem) / 2);
	}
}

@media screen and (min-width: 1200px) {
	.pageheader--sectionaligned {
		padding-left: calc((100% - 1200px + 2rem) / 2);
		padding-right: calc((100% - 1200px + 2rem) / 2);
	}
}
